.gotic {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Licorice", cursive;
}

#gotico {
  font-size: 60px;
  color: rgba(65, 7, 25, 0.701);
  font-family: "Grenze Gotisch", cursive;
  font-family: "Licorice", cursive;
}

body {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Licorice", cursive;
  font-size: xx-large;
}

p {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Licorice", cursive;
}
